.recent-post {
  padding-top: 25px;
  padding-bottom: 33px;
  background-color: #edf7fa;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
}
