.card {
  padding-bottom: 17px;
  border-bottom: 1px solid #e0e0e0;
}

.img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 17px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #21243d;
  margin-bottom: 16px;
}

.details {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 24px;
}

.year {
  padding: 6px 13px;
  background-color: #142850;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border-radius: 16px;
}

.category {
  font-weight: 400;
  font-size: 16px;
  color: #8695a4;
}

.excerpt {
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
  line-height: 1.5;
}

@media screen and (min-width: 800px) {
  .card {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .img {
    width: 246px;
    height: 180px;
    border-radius: 6px;
    margin-right: 18px;
  }

  .title {
    font-weight: 700;
    font-size: 30px;
    color: #21243d;
  }
}
